system/system/data-app/MiuiHealth/MiuiHealth.apk
system/system/data-app/SmartHome/SmartHome.apk
system/system/data-app/MIMediaEditor/MIMediaEditor.apk
system/system/priv-app/MiuiCamera/MiuiCamera.apk
system/system/priv-app/MiBrowser/MiBrowser.apk
system/system/app/VoiceAssist/VoiceAssist.apk
system/system/system_ext/apex/com.android.vndk.v30.apex
product/app/WebViewGoogle/WebViewGoogle.apk
